<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AdministradorAzurEntities2" connectionString="metadata=res://*/Modelo.AdministradorAzur.csdl|res://*/Modelo.AdministradorAzur.ssdl|res://*/Modelo.AdministradorAzur.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-BBUO08I\SQLEXPRESS;initial catalog=AdministradorAzur;integrated security=True;persist security info=False;pooling=False;multipleactiveresultsets=False;connect timeout=60;encrypt=False;trustservercertificate=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>